.fondoLogin{
  background-image: url("../../../assets/img/fondoLogin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.ingreso{
  background-color: rgb(240, 248, 255);
  margin: 13px;
  padding: 10px;
  border-radius: 17px;
  margin-top: 8%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}