<h2 mat-dialog-title>Agregar producto</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">
      <form autocomplete="off" [formGroup]="FormAddProc">
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre" style="width: 100%;">
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Categoria</mat-label>
            <mat-select placeholder="Categoria" formControlName="categoria">
              <mat-option *ngFor="let categoria of categorias |async" [value]="categoria.id">
                {{categoria.nombre}}
              </mat-option>
            </mat-select>
            <input matInput formControlName="categoria" style="width: 100%;">
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Precio</mat-label>
            <input matInput type="number" placeholder="Precio" formControlName="precio" style="width: 100%;">
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="Descripcion" formControlName="descripcion" style="width: 100%;">
          </mat-form-field>
        </div>
        <div class="mb-3" style="position: initial; text-align: center;">
          <input #file type="file" (change)="imgUpload($event)" hidden>
          <input type="text" formControlName="img" hidden>
          <button class="btn btn-outline-primary" (click)="file.click()">Subir imagen</button>
          <mat-progress-bar [value]="uploadPercent |async"> </mat-progress-bar>
          <span>{{(uploadPercent |async) || 0}} %</span>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="btn btn-outline-primary" (click)="publicar()" [disabled]="FormAddProc.invalid">Agregar</button>
</mat-dialog-actions>
